.container {
  width: 100%;
  min-width: 250px;
  height: 160px;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-weight: var(--font-bold);
  text-transform: uppercase;

  transition: all 0.4s;
}
.container:hover {
  transition: all 0.2s;
  filter: brightness(80%);
}
