.container{
  width: 100%;
}
.content{
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}
.content > h2{
  line-height: 2;
  font-size: 1.2rem;
}
.container_posts_cards{
  width: 100%;
  display: flex;
  gap:16px;
  flex-wrap: wrap;
}